/barcodereader
*/bin
*/obj
*.vs
*.suo
/GlobalLowLevelHooks/.vs/GlobalLowLevelHooks/v17/.suo
/GlobalLowLevelHooks/packages
/reader/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/reader/obj/Debug/reader.csproj.AssemblyReference.cache
